/* SITE HEADER */
.site-header {
  padding: 23px 0;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SITENAV */
.sitenav {

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }  
}

.site-header__right {
  display: flex;
  align-items: center;
  gap: 12px;
}
